* {
  box-sizing: border-box;
}
*,
html {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  background: #fcfaf2;
  color: #333;

  font-family: 'Vollkorn', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.15em;
  font-size: 1.2em;
}
h2 {
  margin-bottom: 0.25em;
  font-size: 1.6em;
}
h3 {
  margin-bottom: 0.25em;
  font-size: 1.4em;
}
p {
  margin: 0 0 1.5em 0;
  font-size: 1em;
  text-align: justify;
  line-height: 1.5em;
}
p:first-letter {
  color: #c90707;
}
blockquote {
  margin: 0 0 1.5em 2em;
  font-size: 1.1em;
  font-style: italic;
  text-indent: -0.3em;
}
blockquote cite {
  display: block;
  margin: 0.5em 0 0 0;
  color: #c90707;
  font-style: normal;
  font-size: 0.7em;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-indent: -0.7em;
}
blockquote cite:before {
}

body > div {
  width: 60em;
  margin: 3em auto 0 auto;
  text-align: left;
}
header {
  width: 23em;
  overflow: auto;
  float: left;
}
header h1 {
  margin-top: -0.1em;
  font-size: 4.2em;
  font-variant: small-caps;
}
header a {
  text-decoration: none;
  color: #333;
}
article {
  width: 37em;
  float: right;
  margin-left: auto;
  margin-right: auto;
}
