---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="De Filosofen">
	<main>
		<article>
			<h2>Info</h2>
			<p>Wat wij voor u kunnen betekenen?</p>
		</article>
	</main>
</Layout>

<style>
	
</style>